<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.min.js"></script>
  </head>
	<body>
		<div class="container">
			<div class="row">
	  <%= yield %>
			</div>
		</div>
	</body> 
</html>