body {
	background: #FFFFE2;
	color: #737373;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
	font-style:oblique;
	padding: 1em;
}

h2 {
	text-decoration: underline;
	padding: 1em;
}

p{
	padding: 1em;
}
blockquote{
	padding-top: 5em;
}
img {
	max-width: 600px;
	padding:2em;
}